@tailwind base;
@tailwind components;
@tailwind utilities;

.ais-SearchBox {
  padding: 0;
  border: 0;
  margin: 0;
  float: right;
  max-height: 2em;
  max-width: 200px;
}

.ais-SearchBox-form {
  padding: 0;
  border: 0;
  margin: 0;
  float: right;
  max-height: 2em;
  max-width: 200px;
}

.ais-SearchBox-input {
  padding: 0;
  border: 0;
  margin: 0;
  max-height: 2em;
  min-width: 200px;
  max-width: 200px;
  color: antiquewhite;
  background-color: #262626;
  float: right;
  border: 2px solid ;
  border-radius: 12em;
  border-color: #71717A;
  position: relative;
  padding-right: 100px;
  padding-top: -29px;

}

.ais-SearchBox-input:focus {
  padding: 0;
  border: 0;
  margin: 0;
  max-height: 2em;
  max-width: 200px;
  background-color: #9CA3AF;
  color: antiquewhite;
  float: right;
  border-radius: 10px;
  border-color: 1px dotted green;
}

.ais-SearchBox-input:blur {
  padding: 0;
  border: 0;
  margin: 0;
  max-height: 2em;
  max-width: 200px;
  background-color: #9CA3AF;
  color: antiquewhite;
  float: right;
  border-radius: 10px;
  border-color: 1px dotted green;
}