@tailwind base;
@tailwind components;
@tailwind utilities;

.ais-SearchBox-input:blur .ais-SearchBox-input {
  padding: 0;
  margin: 0;
  height: 1.5em;
  float: right;
  font-style: normal;
  font-size: large;
  font-weight: bolder;
  background: slategrey !important;
  color: black !important;
  background-color: #71717a !important;
  padding-inline-start: 20px;
  min-width: 250px;
  max-width: 300px;
  border-color: #145a32 !important;
  border-radius: 1px;
  border-style: solid;
  border-radius: 3px;
  max-height: 1.5em;
}

.ais-SearchBox-input:hover {
  border-color: 5px solid #145a32;
  box-shadow: #145a32;
}

.ais-SearchBox-input:active .ais-SearchBox-input:focus {
  padding: 0;
  margin: 0;
  margin-right: 20px;
  height: 1.5em;
  float: right;
  font-style: normal;
  font-size: large;
  font-weight: bolder;
  background: slategrey !important;
  color: black !important;
  padding-inline-start: 20px;
  min-width: 250px;
  max-width: 300px;
  border-color: #145a32 !important;
  border-radius: 2px;
  border-style: solid;
  max-height: 1.5em;
}

.ais-SearchBox {
  padding: 0;
  border: 0;
  margin: 0;
  float: right;
  max-height: 1.5em;
  max-width: 200px;
}

.ais-SearchBox-form {
  color: black;
  max-height: 1.5em;
}

.ais-Hits {
  visibility: hidden;
  display: none;
}
