@tailwind base;
@tailwind components;
@tailwind utilities;

/* .ais-InstantSearch {
  max-width: 45%;
  overflow: hidden;
  background-color: violet;
  margin: 0 auto;
} */

.ais-SearchBox {
  @apply self-end;
}

.ais-SearchBox-form {
  @apply bg-gray-900;
  @apply self-end;
  @apply justify-self-end
  @apply border-cyan-700;
  @apply mx-96;
}

.ais-SearchBox-form:focus {
  @apply justify-self-end;
  @apply items-center;
  @apply mx-96;
}

.ais-SearchBox-input {
  @apply bg-blue-800;
  float: right;
  color: slateblue;                                     
  border-style: solid;
  @apply border-slate-900;
  padding-top: 0em;
  block-size: 1.5em;
  border-radius: 10px;
}

.ais-SearchBox-input:focus {
   @apply bg-gray-200;
  float: right;
  color: gray;
  border-style: solid;
  @apply border-slate-900;
  padding-top: 0em;
  block-size: 1.5em;
  border-radius: 10px;
}

.ais-SearchBox-submit {
  visibility: visible;
  color: antiquewhite;
  width: 40px;
  height: 40px;
}

.ais-SearchBox-submitIcon {
  color: aliceblue;
  width: 20px;
  min-height: 20px;
  display: block;
  @apply justify-self-end;
  position: relative;
  right: -14em;
  margin-left: 50px;
}

.ais-Hits {
  position: relative;
  clear: both;
}

.ais-Hits-item {
  width: 100% !important;
  margin: 2em;
}

/* .ais-SearchBox-submitIcon:focus {
  color: aliceblue;
} */
.ais-SearchBox-reset {
  color: rgb(238, 233, 226);
}

.ais-Hits-item {
  margin-bottom: 1em;
  width: calc(50% - 1rem);
}

.ais-Hits-item img {
  margin-right: 1em;
}

.hit-name {
  margin-bottom: 0.5em;
}

.hit-description {
  color: #888;
  font-size: 14px;
  margin-bottom: 0.5em;
}

.ais-Pagination {
  margin-top: 1em;
}

.left-panel {
  float: left;
  width: 250px;
}

.right-panel {
  margin-left: 260px;
}
